behaviors:
  TargetAgent:
    trainer_type: ppo
    hyperparameters:
      batch_size: 2048              
      buffer_size: 20480           
      learning_rate: 3.0e-4 
      beta: 0.01                    
      epsilon: 0.2                  
      lambd: 0.95                   
      num_epoch: 3                
      learning_rate_schedule: linear
      beta_schedule: constant          
    network_settings:
      normalize: false              
      hidden_units: 256           
      num_layers: 2               
    reward_signals:
      extrinsic:
        gamma: 0.99                 
        strength: 1.0
    keep_checkpoints: 5           
    max_steps: 80000000             
    time_horizon: 300               
    summary_freq: 10000             
    threaded: true        
    checkpoint_interval: 100000                 