behaviors:
  TargetAgent:
    trainer_type: ppo
    hyperparameters:
      batch_size: 2048
      buffer_size: 20480
      learning_rate: 0.0003
      beta: 0.005
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 3
      learning_rate_schedule: constant
    network_settings:
      normalize: false
      hidden_units: 256
      num_layers: 2
      vis_encode_type: simple
    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 1.0
    max_steps: 1000000  
    time_horizon: 64
    summary_freq: 1000  
checkpoint_settings:
  run_id: test_generalization
  initialize_from: chase_v5  
  force: false
  resume: false
engine_settings:
  width: 512
  height: 512
  quality_level: 1
  time_scale: 20  
  target_frame_rate: -1